In [1]:
# import packages
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
# create df out of csv
df = pd.read_csv('Data/aftercorona.csv')

In [4]:
# overview of df
print(df.shape)
print(df.columns)

(1735, 14)
Index(['user_id', 'user_statuses', 'name', 'tweet', 'retweets', 'location',
       'created', 'followers', 'is_user_verified', 'favorite_count',
       'in_reply_to_status_id', 'keyword', 'language', 'site'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735 entries, 0 to 1734
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                1735 non-null   float64
 1   user_statuses          1735 non-null   int64
 2   name                   1735 non-null   object
 3   tweet                  1735 non-null   object
 4   retweets               1735 non-null   int64
 5   location               1215 non-null   object
 6   created                1735 non-null   object
 7   followers              1735 non-null   int64
 8   is_user_verified       1735 non-null   bool
 9   favorite_count         1735 non-null   int64
 10  in_reply_to_status_id  200 non-null    float64
 11  keyword                1735 non-null   object
 12  language               1735 non-null   object
 13  site                   1735 non-null   object
dtypes: bool(1), float64(2), int64(4), object(7)
memory usage: 178.0+ KB

In [6]:
df.describe()

,user_id,user_statuses,retweets,followers,favorite_count,in_reply_to_status_id
count,1.735000e+03,1735.000000,1735.000000,1.735000e+03,1735.000000,2.000000e+02
mean,5.671175e+17,50592.720461,1.484726,2.337823e+04,10.888184,1.404600e+18
std,5.956146e+17,120518.291352,22.219511,1.904985e+05,163.218703,2.014620e+16
min,8.090990e+05,1.000000,0.000000,0.000000e+00,0.000000,1.130000e+18
25%,3.179600e+08,962.000000,0.000000,6.400000e+01,0.000000,1.400000e+18
50%,4.838521e+09,6909.000000,0.000000,4.050000e+02,0.000000,1.410000e+18
75%,1.196900e+18,29123.000000,0.000000,1.514000e+03,2.000000,1.410000e+18
max,1.405830e+18,914755.000000,895.000000,4.611925e+06,6125.000000,1.410000e+18

In [8]:
# missing values
df.isnull().values.any()

True

In [9]:
df.isnull().sum().sum()

2055

In [17]:
# missing values in location column because it is not mandatory for the user 
check_nan = df['location'].isnull()

In [19]:
# poor data quality 
df.location.value_counts()

SÃ£o Paulo                  41
Glenn Allen, VA             19
London                      19
Everywhere                  18
United Kingdom              16
                            ..
Manhattan, NY                1
ðŸ“®alevibestm@gmail.com     1
Taunton, Somerset            1
kpassa                       1
Even further up my ass       1
Name: location, Length: 665, dtype: int64

In [18]:
count_nan = df['location'].isnull().sum()
print('Number of NaN values present: ' + str(count_nan))

Number of NaN values present: 520

In [20]:
# 4 encodings
df.in_reply_to_status_id.value_counts()

1.410000e+18    120
1.400000e+18     78
1.390000e+18      1
1.130000e+18      1
Name: in_reply_to_status_id, dtype: int64

In [22]:
# important followers?
df.followers.value_counts().sort_values()

1228      1
349       1
348       1
347       1
344       1
         ..
1        21
29       24
2        30
0        34
10223    41
Name: followers, Length: 766, dtype: int64

In [24]:
# important retweets?
df.retweets.value_counts()

0      1366
1       181
2        53
3        38
4        24
5        20
6         8
7         7
8         5
9         4
14        3
15        3
23        3
10        2
13        2
22        2
61        1
64        1
144       1
114       1
47        1
49        1
19        1
39        1
35        1
29        1
28        1
25        1
11        1
895       1
Name: retweets, dtype: int64

In [25]:
# important retweets?
df.language.value_counts()

en    1735
Name: language, dtype: int64

In [26]:
df.keyword.value_counts()

#gameofthrones       200
#breakingbad         200
#prisonbreak         200
#thewalkingdead      200
#riverdale           200
#strangerthings      200
#moneyheist          200
#blackmirror         144
#thebigbangtheory    101
#narcos               90
Name: keyword, dtype: int64

In [28]:
# important retweets?
df.favorite_count.value_counts()

0       890
1       302
2       159
3        62
4        49
       ...
56        1
57        1
58        1
62        1
6125      1
Name: favorite_count, Length: 75, dtype: int64

In [27]:
# important retweets?
df.site.value_counts()

date post corona\2021-06-18_en_#breakingbad.json         200
date post corona\2021-06-18_en_#moneyheist.json          200
date post corona\2021-06-18_en_#thewalkingdead.json      200
date post corona\2021-06-18_en_#gameofthrones.json       200
date post corona\2021-06-18_en_#prisonbreak.json         200
date post corona\2021-06-18_en_#strangerthings.json      200
date post corona\2021-06-18_en_#riverdale.json           200
date post corona\2021-06-18_en_#blackmirror.json         144
date post corona\2021-06-18_en_#thebigbangtheory.json    101
date post corona\2021-06-18_en_#narcos.json               90
Name: site, dtype: int64